name: "Lint"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  ruff:
    name: "Ruff"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v4.1.0"

        - name: "Install poetry"
          run: pip install poetry

        - name: "Set up Python"
          uses: actions/setup-python@v4.7.1
          with:
            python-version: "3.11"
            cache: "poetry"

        - name: "Install dependencies"
          run: poetry install

        - name: "Run"
          run: poetry run ruff check .